@use "/src/scss/variable" as *;
@use "/src/scss/general" as *;

.about {
  .about_content {
    .about_left {
      .title_sub {
        color: black;
        margin-bottom: 30px;
      }
      .title_main {
        color: black;
        margin-bottom: 30px;
        .title {
          color: $color-redviolet;
        }
      }
      .title_item {
        color: black;
        font-family:'Courier New', Courier, monospace;
        margin-bottom: 30px;
        text-align: justify;
      }
    }
    .about_right {
      .avatar_wrapper {
        .avatar {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
