.publication-container {
    max-width: 100%; 
    margin: 0 auto;
  }
  
  .publication-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    max-width: 400px;
    text-align: center;
    width: 100%;
    box-sizing: border-box; 
  }
  
  .publication-image {
    max-width: 300px; 
  max-height: 200px;
  width: auto; 
  height: auto;
  object-fit: cover;
  margin-bottom: 10px;
  }
  
  .publication-details {
    padding: 10px;
  }