@import "/src/scss/variable";
@import "/src/scss/general";

.skill {
  padding-top: 50px;
  padding-bottom: 50px;
  .skill_content {
    .skill_item {
      border: 1px solid $color-purple;
      border-radius: 10px;
      &:hover {
        background-color: plum;
        border-color: $color-purple;
        .title_item {
          color: black;
          border: 1px solid black;
          border-radius: 15px;
        }
      }
      .skill_title {
        color: $color-purple;
      }
      .title_item {
        color: black;
        border: 1px solid black;
        border-radius: 15px;
      }
    }
  }
}
