@import "/src/scss/variable";
@import "/src/scss/general";

.skill {
  .skill_header {
    .title_sub {
      color: $color-white;
      span {
        color: $color-purple;
      }
    }
    .line {
      background: $color-purple;
    }
  }
  .skill_content {
    .skill_item {
      border: 1px solid $color-white;
      border-radius: 10px;
      &:hover {
        background-color: $color-white;
        border-color: $color-purple;
        .title_item {
          color: black;
          border: 1px solid black;
          border-radius: 15px;
        }
      }
      .skill_title {
        color: $color-purple;
      }
      .title_item {
        color: $color-white;
        border: 1px solid $color-white;
        border-radius: 15px;
      }
    }
  }
}
