@import "/src/scss/variable";
@import "/src/scss/general";

.project {
  .left {
    .title_sub {
      color: $color-white;
      span {
        color: $color-purple;
      }
    }
    .line {
      background: $color-purple;
    }
  }
  .right {
    .showMore_btn {
      font-size: $font-sm;
      font-weight: 500;
      color: $color-purple;
    }
  }
  .col-movies {
    flex: 1;
  }
  .text-black {
    color: $color-purple;
    font-size: 24px;
    font-weight: 500;
    line-height: 31px;
  }
}
