@use "/src/scss/variable" as *;
@use "/src/scss/general" as *;

.project {
  .search-container {
    input,
    select {
      outline: none;
      transition: border-color 0.3s ease;

      &:focus {
        border-color: $color-purple;
      }
    }
  }

  .projects-container {
    .card {
      .project-name {
        color: $color-black;
      }

      .project-language {
        font-size: 0.9rem;
      }

      .project-description {
        color: $color-black;
      }

      .btn {
        display: inline-block;
        font-weight: 500;
        transition: background-color 0.3s ease;
      }
    }
  }
}